/* Enter your Styles below! */

* {
  margin: 0;
  padding: 0;
  outline: 0 !important;
  text-decoration: none
  list-style-type: none !important;
}

@font-face {
  font-family:'Fondamento-Regular';
  src:url(fonts/Fondamento-Regular.ttf);
  font-style: normal;
  font-weight: 100;
}

@font-face {
  font-family: 'Basis-Grotesque-Bold';
  src:url(fonts/basis-grotesque-bold.ttf);
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'Freight-Big-Light';
  src:url(fonts/FreightBigLight.woff);
  font-style: normal;
  font-weight: 100;
}

body{
  background-color: black;
}

.wrapper {
  display: flex;
  justify-content: center;
}

.wrapper a img {
  width: 7.5em;
  margin: 25px;
}

/*.bottom-right-nav {
  position: fixed;
  right: 50px;
  bottom: 50px;
  text-align: right;
  line-height: 2rem;
}

.bottom-right-nav .menu-bottom-right li a {
  font-family: 'Freight-Big-Light';
  font-style: normal;
  font-weight: 100;
  font-size: 1em;
  color: white;
  text-decoration: none;
}

.bottom-right-nav .menu-bottom-right li a:hover {
  text-decoration: underline;
} */

/*

This isn't working?

 .bottom-right-nav .menu-bottom-right li a:active {
  text-decoration: underline;
}

*/

.sub-nav {
	width: 75%;
  display: grid;
  grid-template-columns: 10% 75% 15%;
	grid-column-gap: 1em;
  text-align: right;
  font-smooth: none;
}

.sub-nav h1 {
  color: black;
  font-family: 'Fondamento-Regular';
  font-style: regular;
  font-size: 2.25rem;
  margin-top: 1.4rem;
  /* margin-right: -2.25rem; */
	text-align: right;
}

.sub-nav h2 {
  color: black;
	font-family: 'Basis-Grotesque-Bold';
  font-size: .6rem;
  margin-top: 2.75rem;
	text-align: left;
}

.sub-nav h3 {
  left: 3%;
  color: black;
  font-family: 'Basis-Grotesque-Bold';
  font-size: .6rem;
  margin-top: .5rem;
  margin-left: .5rem;
  text-align: left;
}


/* Bob Price */

.bob-price {
  height: 30%;
  background-color: #F36F63;
  position: fixed;
  bottom: 0;
  text-decoration: none;
}

/* .bob-price .name-location h1 {
  margin-right: -1.25rem;
}

.bob-price .name-location h2 {
  margin: 8px 0 0 80px;
  margin-top: 1rem;
} */

/* Erich Gerard Robert Kirwin */

.erich-gerard-robert-kirwin {
  height: 22.5%;
  background-color: #F1C059;
  position: fixed;
  bottom: 0;
  text-decoration: none;
}

/*.erich-gerard-robert-kirwin .name-location h1 {
  margin-right: -.75rem;
}

.erich-gerard-robert-kirwin .name-location h2 {
  margin: 8px 0 0 85px;
  margin-top: 1rem;
}*/

/* Derek Corneau */

.derek-corneau {
  height: 15%;
  background-color: #109675;
  position: fixed;
  bottom: 0;
  text-decoration: none;
}

/*.derek-corneau .name-location h1 {
  margin-right: -.75rem;
}

.derek-corneau .name-location h2 {
  margin: 8px 0 0 85px;
  margin-top: 1rem;
}*/
/* Nick Dempsey */

.nick-dempsey {
  height: 7.5%;
  background-color: #3B87C7;
  position: fixed;
  bottom: 0;
  text-decoration: none;
}

/* Photographer's Details Panel Animation*/

.sub-nav-active {
-webkit-transition: all 1s ease-in-out;
-moz-transition: all 1s ease-in-out;
-o-transition: all 1s ease-in-out;
-ms-transition: all 1s ease-in-out;
transition: all .5s ease-in-out;
}

.details {
-webkit-transition: all 1s ease-in-out;
-moz-transition: all 1s ease-in-out;
-o-transition: all 1s ease-in-out;
-ms-transition: all 1s ease-in-out;
transition: all .5s ease-in-out;
}

.details-active {
	animation: 1s ease-in-out 0s forwards;
	width: 50%;
	height: 87%;
	display: grid;
	grid-template-columns: 33% 33% 33%;
}

.sub-nav {
	animation: details paused;
}

.sub-nav-active {
	animation: 1s ease-in-out 0s forwards;
	width: 50%;
	height: 0%;
}

/* @keyframes details {
	from {
		width: 82%;
	}

	to {
		width: 50%;
		height: 87%;
	}
} */

/* @keyframes shrink {
	from {
		width: 82%;
	}

	to {
		width: 50%;
	}
} */

/*
.nick-dempsey .name-location h2 {
  margin: 8px 0 0 85px;
  margin-top: 1rem;
}*/

@media only screen and (min-width:768px) {

}

@media only screen and (min-width:1224px) {

}
